@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
  background-color: rgba(241, 241, 241, 1);
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 0 80px 0 80px;
}

.logo {
  display: flex;
  align-items: center;
  width: 114.68px;
  height: 22px;
  gap: 10px;
}

.logo img {
  width: 18.68px;
  height: 22px;
}

.logo p {
  width: 86px;
  height: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 410px;
  height: 38px;
  gap: 16px;
  font-family: 'Inter', sans-serif;
}

.menu a {
  text-decoration: none;
  color: rgba(8, 30, 52, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.menu button {
  background-color: rgba(8, 30, 52, 0.12);
  color: rgba(8, 30, 52, 1);
  border: none;
  padding: 10px 12px 10px 12px;
  border-radius: 100px;
  width: 102px;
  height: 38px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  gap: 8px;
}

.description {
  display: flex;
  height: 620px;
  padding: 0 80px 0 80px;
  gap: 165px;
  align-items: center;
  justify-content: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 495px;
  height: 366px;
  gap: 48px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 495px;
  height: 268px;
  gap: 32px;
}

.title {
  width: 495px;
  height: 192px;
  font-family: 'Kanit';
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

.paragraph {
  width: 495px;
  height: 44px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.button-main {
  background-color: #712fff;
  color: rgba(255, 255, 255, 1);
  width: 144px;
  height: 50px;
  border-radius: 100px;
  border: none;
  padding: 16px 24px 16px 24px;
  font-size: 14px;
  text-align: center;
  gap: 10px;
  line-height: 18px;
  font-weight: 500;
}

.info button:hover {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.info button:disabled {
  background-color: rgba(31, 31, 31, 0.12);
  color: rgba(28, 27, 31, 1);
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.visual {
  display: flex;
}

.laptop {
  width: 619px;
  height: 420px;
  border-radius: 32px;
}

.dollar {
  position: absolute;
  width: 139px;
  height: 181px;
  left: 950px;
}

.fire {
  position: absolute;
  width: 148px;
  height: 172px;
  top: 400px;
  left: 1200px;
}

.how_it_works {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 222, 231, 1);
  height: 562px;
  border-radius: 32px;
  border: none;
  gap: 86px;
  padding: 0 80px 0 80px;
  justify-content: center;
  align-items: center;
}

.top {
  width: 351px;
  height: 84px;
  gap: 64px;
}

.top_description {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.top_title {
  font-family: 'Kanit';
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}

.bottom {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 186px;
  gap: 40px;
}

.bottom_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 186px;
  width: 375px;
  gap: 48px;
}

.bottom_info_image {
  display: flex;
  width: 64px;
  height: 64px;
  gap: 10px;
}

.bottom_info_text {
  display: flex;
  flex-direction: column;
  height: 74px;
  gap: 24px;
}

.bottom_info_title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  height: 28px;
}

.bottom_info_description {
  height: 22px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.input_field {
  display: flex;
  height: 422px;
  padding: 0 80px 0 80px;
  gap: 128px;
  align-items: center;
}

.input_field_info {
  display: flex;
  flex-direction: column;
  width: 757px;
  height: 222px;
  gap: 32px;
}

.input_field_info_title {
  font-family: 'Kanit';
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}

.input_field_info_description {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.input_field_info_search {
  display: flex;
  width: 757px;
  height: 50px;
  gap: 32px;
}

.input_field_info_search input {
  width: 619px;
  padding: 13px 75px 13px 40px;
  border-radius: 12px;
  border: 1px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  background-image: url('/images/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.input_field_info_search ::placeholder {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.2;
}

.input_field_info_search button {
  height: 50px;
  padding: 16px 24px 16px 24px;
  border-radius: 100px;
  gap: 10px;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.submission {
  display: flex;
  height: 548px;
  padding: 0 80px 0 80px;
  gap: 128px;
  align-items: center;
  justify-content: flex-start;
}

.submission .info {
  width: 495px;
  height: 214px;
  gap: 32px;
}

.submission .info .text {
  width: 495px;
  height: 214px;
  gap: 32px;
}

.submission .info .title {
  width: 391px;
  height: 56px;
  font-family: 'Kanit';
  font-size: 54px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}

.submission .info .paragrapgh {
  width: 495px;
  height: 44px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.submission .info .button-main {
  width: 114px;
  height: 50px;
  padding: 16px 24px 16px 16px;
  border-radius: 100px;
  gap: 8px;
}

.upload_icon {
  background: url(/images/upload.png) no-repeat;
  float: left;
  width: 18px;
  height: 18px;
}

footer.navbar {
  background-color: rgba(255, 255, 255, 1);
  height: 172px;
  padding: 0 80px 0 80px;
  border-radius: 32px 32px 0px 0px;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.footer_top {
  display: flex;
  align-items: center;
  height: 38px;
  gap: 105px;
}

footer .menu {
  width: 372px;
  height: 38px;
  gap: 16px;
}

footer .menu img {
  width: 24px;
  height: 24px;
}

.footer a {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.footer_text {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(8, 30, 52, 0.5);
}

.made {
  width: 272px;
  height: 38px;
  padding: 0 12px, 0 12px;
  border-radius: 100px;
  gap: 8px;
}

.made a {
  text-decoration: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(8, 30, 52, 1);
}

@media screen and (max-width: 500px) {
  .navbar {
    width: auto;
    padding: 0 24px 0 24px;
    gap: 92px;
  }

  .logo {
    width: 118px;
  }

  .logo p {
    letter-spacing: 4%;
  }

  .menu {
    width: 102px;
  }

  .menu a {
    display: none;
  }

  .menu button {
    text-align: center;
  }

  .description {
    flex-direction: column-reverse;
    height: 618px;
    padding: 0 24px 0 24px;
    gap: 54px;
    align-items: center;
    justify-content: center;
  }

  .info {
    width: 312px;
    height: 290px;
    gap: 48px;
    align-items: center;
  }

  .text {
    width: 312px;
    height: 192px;
    gap: 24px;
    align-items: center;
  }

  .title {
    width: 250px;
    height: 114px;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
  }

  .paragraph {
    width: 312px;
    height: 54px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
  }

  .button-main {
    background-color: rgba(113, 47, 255, 1);
  }

  .info button:hover {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }

  .info button:disabled {
    background-color: rgba(31, 31, 31, 0.12);
    color: rgba(28, 27, 31, 1);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }

  .visual {
    width: 100%;
    height: 210px;
    border-radius: 32px;
  }

  .laptop {
    width: 100%;
    height: 100%;
  }

  .dollar {
    width: 73px;
    height: 94px;
    top: 100px;
    left: 150px;
  }

  .fire {
    width: 85px;
    height: 99px;
    top: 200px;
    left: 220px;
  }

  .how_it_works {
    height: 686px;
    gap: 54px;
    padding: 0 24px 0 24px;
  }

  .top {
    width: 312px;
    gap: 12px;
  }

  .top_title {
    font-size: 32px;
  }

  .bottom {
    width: 80vw;
    height: 440px;
    flex-direction: column;
  }

  .bottom_info {
    height: 120px;
    width: auto;
    gap: 24px;
  }

  .bottom_info_image {
    width: 42px;
    height: 42px;
    gap: 0;
  }

  .bottom_info_image img {
    width: 23.05px;
    height: 42px;
    left: 9.19px;
  }

  .bottom_info_text {
    height: 54px;
    gap: 12px;
  }

  .bottom_info_title {
    font-size: 20px;
    line-height: 24px;
    height: 24px;
  }

  .bottom_info_description {
    height: 18px;
    font-size: 14px;
    line-height: 18px;
  }

  .input_field {
    height: 387px;
    padding: 0 24px 0 24px;
    gap: 128px;
    align-items: center;
  }

  .input_field_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 279px;
    gap: 48px;
  }

  .input_field_info_title {
    font-size: 24px;
    line-height: 28.8px;
  }

  .input_field_info_description {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .input_field_info_search {
    flex-direction: column;
    align-items: center;
    width: 312px;
    height: 132px;
    gap: 32px;
  }

  .input_field_info_search input {
    width: 60vw;
    padding: 13px 75px 13px 40px;
    font-size: 16px;
  }

  .submission {
    height: 663px;
    padding: 0 24px 0 24px;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
  }

  .submission .info {
    width: auto;
    height: 197px;
    gap: 32px;
    align-items: flex-start;
  }

  .submission .info .text {
    width: 80vw;
    height: 197px;
    gap: 32px;
    align-items: flex-start;
  }

  .submission .info .title {
    width: 174px;
    height: 29px;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
  }

  .submission .info .paragraph {
    width: 312px;
    height: 54px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }

  .submission .info .button-main {
    width: 114px;
    height: 50px;
    padding: 16px 24px 16px 16px;
    border-radius: 100px;
    gap: 8px;
  }

  .upload_icon {
    background: url(/images/upload.png) no-repeat;
    float: left;
    width: 18px;
    height: 18px;
  }

  footer.navbar {
    height: 460px;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    padding: 0 24px 0 24px;
  }

  .footer_top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 378px;
    gap: 16px;
  }

  footer .menu {
    width: 111px;
    height: 226px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .menu img {
    width: 24px;
    height: 24px;
  }

  .footer_top a {
    display: block;
    text-align: center;
    padding: 0 12px 0 12px;
  }

  .footer_text {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(8, 30, 52, 0.5);
  }

  .made {
    width: 80vw;
    height: 38px;
    padding: 0 12px, 0 12px;
    border-radius: 0;
    gap: 8px;
  }

  .made a {
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(8, 30, 52, 1);
  }
}
